# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
.AndroidStudio2.2/
.ICEauthority
.IdeaIC2016.3/
.NERDTreeBookmarks
.PyCharmCE2016.3/
.Skype/
.ViberPC/
.android/
.aria2/
.audacity-data/
.bash_history
.bashrc
.bogofilter/
.bundle/
.cache/
.config/.luckybackup-snaphots/
.config/.rainlendar2/
.config/Ciobi/
.config/Clementine/
.config/Kingsoft/
.config/MusicBrainz/
.config/PBE/
.config/QtEmu/
.config/QtProject.conf
.config/Skype/
.config/SpeedCrunch/
.config/Thunar/
.config/Trolltech.conf
.config/WebTorrent/
.config/abiword/
.config/alsi/
.config/aurvote
.config/calibre/
.config/cantata/
.config/chromium/
.config/cmus/
.config/compton.conf
.config/dconf/
.config/deadbeef/
.config/dmenu-recent/
.config/eog/
.config/fontconfig/
.config/gconf/
.config/geany/
.config/gpicview/
.config/htop/
.config/kglobalshortcutsrc
.config/kingsoft/
.config/leafpad/
.config/libfm/
.config/libreoffice/
.config/llpp.conf
.config/menus/
.config/midori/
.config/mimeapps.list
.config/mpv/
.config/mytetra/
.config/nemo/
.config/neofetch/
.config/octopi/
.config/oxygen-gtk/
.config/pavucontrol.ini
.config/pcmanfm/
.config/psd/
.config/pulse/
.config/qBittorrent/
.config/qpdfview/
.config/qupzilla/
.config/ranger/.scope.sh.swp
.config/ranger~/
.config/rncbc.org/
.config/smplayer/
.config/spacefm/
.config/spicy/
.config/streamripper/
.config/streamtuner2/
.config/sublime-text-3/
.config/vlc/
.config/xarchiver/
.config/xfce4/
.config/zim/
.cookiecutter_replay/
.cookiecutters/
.cxoffice/
.eclipse/
.esd_auth
.fasd
.fgfs
.fltk/
.fonts.conf
.gitconfig
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.gradle/
.hnbrc
.icons/
.ipython/
.jackdrc
.java/
.kingsoft/
.lesshst
.local/
.luckyBackup/
.m2/
.maitreya-7.0/
.mime.types
.mozilla/
.mp3diags.ini
.mp3diags_step1.txt
.mpd/
.mplayer/
.mysql_history
.ncmpcpp/
.node-gyp/
.npm/
.openastro.org/
.pki/
.psql_history
.python_history
.pythonhist
.subversion/
.task/
.taskrc
.thumbnails/
.thunderbird
.todo/
.tooling/
.vim/bundle/fzf/
.viminfo
.vkeybdmap
.vkeybdrc
.w3m/
.wavemonrc
.wget-hsts
.xephem/
.yoshimi_history
.zcompcache/
.zcompdump
.zcompdump.zwc
.zhistory
.zpreztorc~
.zshrc161224~
001
01arch
Android/
Desktop/
Documents/
Downloads/
XTerm
comm333.rst
download
mettalica.txt
music
panch17.pdf
panch2017.pdf
servis
temp/
tmp
txt
vimwiki/
y
yaourtpkg
ycm_build/
yosh.sh

